@media screen and (min-width: 1000px) {
  .card {
    width: 90rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -50rem -25rem;
    margin-inline: auto;
  }
  .section--FAQ {
    margin: 5rem 0;
    margin-right: 8rem;
  }
  .section--FAQ h1 {
    text-align: left;
  }
  .mobile {
    display: none;
  }
  .box {
    background-image: url(../images/illustration-box-desktop.svg);
    background-size: cover;
    background-position: top;
    margin: 0;
    object-fit: fill;
    width: 22.5rem;
    height: 17.5rem;
    position: absolute;
    z-index: 2;
    transform: translate(-11rem, 17rem);
    overflow: visible;
  }
  .images {
    overflow: hidden;
  }
  .desktop {
    position: relative;
    z-index: 1;
    transform: translate(-7.25rem, 5rem);
    display: block;
  }
}
